@font-face {
    font-family: "AR Bonnie";
    src: url("/../assets/fonts/arbonnie.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: #fedece;
}

.zero, .archivist, .troublemaker {
    position: absolute;
    width: 50px;
    height: 50px;
}

.zero {
    /* background-color: #c7b0c4; */
    background-image: url('/img/silver3.png');
    background-size: cover;  
    top: 80%;
    left: 5%;
    border-radius: 90px;
    z-index: 0;
}

.archivist {
    top: 10%;
    left: 85%;
    height: 1px;
    z-index: 0;
}

.archivist:before {
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #000bad;
}

.compiler {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('/img/gold.jpg');
    background-size: cover;
    top: 35%;
    left: 30%;
    z-index: 0;
}

.troublemaker {
    background-color: #f366a5;
    transform: rotate(45deg);
    top: 55%;
    left: 75%;
    width: 35px;
    height: 35px;
    z-index: 0;
}

.crop-zero {
    top: 55%;
    left: 5%;
    width: 105px;
    z-index: 1;
}

.crop-archivist {
    top: 20%;
    left: 80%;
    width: 160px;
    z-index: 1;
}

.crop-compiler {
    top: 5%;
    left: 20%;
    z-index: 1;
}

.crop-troublemaker {
    top: 50%;
    left: 50%;
    width: 460px;
    z-index: 1;
}

.float-area a {
    color: black;
}

.float-area a:hover {
    color: black;
}

.moving {
    position: absolute;
}

.moving img {
    width: 100%;
}

@media (max-width: 400px){
    .zero, .archivist, .troublemaker {
        width: 35px;
        height: 35px;
    }
    
    .archivist:before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid #000bad;
    }
    
    .compiler {
        width: 28px;
        height: 28px;
    }
    
    .crop-zero {
        width: 35px;
    }
    
    .crop-archivist {
        width: 85px;
    }
    
    .crop-compiler {
        width: 100px;
    }
    
    .crop-troublemaker {
        width: 110px;
    }
}
