@font-face {
    font-family: "AR Bonnie";
    src: url("/../assets/fonts/arbonnie.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  color: #3a00f8;
  background-color: #fedece; 
  font-size: 14px;
}

.h1 {
    font-family: "Inconsolata", monospace;
    background-color: #3a00f8;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    padding: 7px 0;
  }

h1 > a {
  color: #ffece3;
}

.menu {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

.menu-option {
  border-right: 1px solid #3a00f8;
  padding-right: 8px;
}

.menu-option:last-child {
  padding-right: 0;
  border-right: none;
}

h2 {
  margin-top: 0;
}

.teaser {
  margin-top: 4%;
}

#main-toggle:hover  ~ div {
  top: +67px;
}

a {
  text-decoration: none;
  color: #3a00f8;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

h2 > a {
  text-decoration: none;
  color: #3a00f8;
  transition: color 0.3s;
  -webkit-transition: color: 0.3s;
}

a:hover {
  text-decoration: none;
  color: white;
}

h1 > a:hover {
    color: white;
}

a:focus {
  text-decoration: none;
  color: white;
  outline: none;
}

.sample {
    margin-bottom: 140px;
}

.sample > img {
    width: 100%;
}

.sample > img:hover {
    outline: 13px solid #3a00f8;
}

.sample-classification {
  color: #3a00f8;
  text-align: right;
}

.text {
  text-align: right;
}

.sample-2,.text-2 {
  margin-top: 50px;
}

.text-2 {
  text-align: justify;
}

.text > h2 {
  font-size: 17px;
  font-weight: bold;
}

.clear {
  position: absolute;
  top: 47.35%;
  left: 0;
  font-size: 30px;
  cursor: pointer;
}

.trouble-teaser:after {
    content:'\A';
    position:absolute;
    width:96%; 
    height:100%;
    top:0; left:2%;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    z-index: -1;
}

.trouble-teaser:hover:after {
    opacity: 1;
    cursor: pointer;
}

.detail-teaser-group > .detail-teaser {
    margin-top: 35px;
}

.detail-teaser img {
  width: 100%;
}

.detail-teaser-group:last-child {
  margin-bottom: 100px;
}

.detail-teaser-group > p {
  margin-bottom: 35px;
}

.detail-teaser-group img {
    width: 100%;
}

.detail-body {
  text-align: justify;
}

.detail-frame {
  text-align: justify;
}

.detail-frame-right {
  text-align: right;
}

.detail-frame > div > h1 {
  text-align: right;
}

.body-text {
  margin-bottom: 25px;
  margin-top: 15px;
}

.text-list {
    margin-top: 55px;
    margin-bottom: 15px;
}   

.detail-body > div > h1 {
  color: rgba(153,255,204,1);
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  text-align: center;
  padding-left: 0;
  margin-bottom: 3px;
  padding-top: 0;
}

.detail-body > div > div > h1 {
  color: #3a00f8;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  padding-left: 0;
  margin-bottom: 3px;
  padding-top: 0;
}

#vita {
  max-width: 650px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

#vita td {
  vertical-align: top;
  text-align: justify;
}

#vita .td-left {
  width: 32%;
  text-align: left;
}

#vita .last {
  padding-bottom: 20px;
}

.figuren-frame {
    margin-top: 75px;
}

.figuren-thumb {
    float: left;
}

.figuren-thumb:last-child {
    margin-right: 0;
}

.figuren-thumb > img {
    width: 100%;
}

.zero, .archivist, .compiler, .troublemaker {
    position: absolute;
    width: 90px;
    height: 90px;
}

.zero {
    /* background-color: #c7b0c4; */
    background-image: url('/img/silver3.png');
    background-size: cover;  
    top: 80%;
    left: 5%;
    border-radius: 90px;
}

.archivist {
    top: 10%;
    left: 85%;
    height: 1px;
}

.archivist:before {
    content: '';
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid #000bad;
}

.compiler {
    background-image: url('/img/gold.jpg');
    background-size: cover;
    top: 55%;
    left: 75%;
}

.troublemaker {
    background-color: #f366a5; /* #f683bc; #ff99ae; */
    top: 65%;
    left: 30%;
    transform: rotate(45deg);
    width: 70px;
    height: 70px;
}

.crop-archivist {
    top: 20%;
    left: 80%;
}

.crop-compiler {

}

.float-area a {
    color: black;
}

.float-area a:hover {
    color: black;
}

.moving {
    position: absolute;
}

.movie {
    top: 12%;
    left: 40%;
    width: 480px;
    height: 270px;
    background-color: black;
    z-index: 4;
}

.pdf {
    top: 20%;
    left: 10%;
    width: 350px;
    height: 247px;
    background-color: white;
    z-index: 3;
}

.pdf img {
    width: 100%;
}

.dl-text-pdf {
    font-family: 'AR Bonnie';
    position: absolute;
    top: 180px;
    left: 10px;
    font-size: 22px;
}

.dl-text-sounds {
    font-family: 'AR Bonnie';
    position: absolute;
    top: 195px;
    right: 5px;
    font-size: 18px;
}

.sounds {
    top: 60%;
    left: 45%;
    width: 250px;
    height: 250px;
    z-index: 2;
}

.sounds-hover:hover {
    display: block;
}

.sounds img {
    width: 100%;
}

.credits-index {
    font-size: 10px;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
}

.credits-mfa {
    font-size: 10px;
    bottom: 5px;
    right: 5px;
    position: absolute;
}

.zeiss-teaser {
    font-size: 20px;
    text-align: center;
}

.prog-content {
    position: relative;
    font-size: 20px;
    text-align: justify;
}

.prog-lang {
    text-align: center;
    margin-top: 20px;
}

.prog-back {
    text-align: center;
    margin: 25px;
}

.active-lang {
    color: white;
}

.miepion {
    width: 300px;
    margin: 50px auto;
    text-align: left;
}

.miepion h1 {
    text-align: center;
}

.images img {
    width: 100px;
    text-align: center;
}

.miepion p {
    
}

.images {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

.inline {
    height: .9em;
    width: 13px;
}

.images > div {
    float: left;
}

@media screen and (max-width: 990px) {
    .menu {
        margin-bottom: 40px;
    }

   .sample {
        margin-top: 0;
        margin-bottom: 50px;
    }
    
    h2 {
        margin-bottom: 4px;
    }
    
    .detail-body {
        width: 90%;
    }
}
