.detail-teaser-group > .detail-teaser {
  margin-top: 35px;
}

.detail-teaser img {
  width: 100%;
}

.detail-teaser-group:last-child {
  margin-bottom: 100px;
}

.detail-teaser-group > p {
  margin-bottom: 35px;
}

.detail-teaser-group img {
  width: 100%;
}

.detail-body {
  text-align: justify;
}

.detail-frame {
  text-align: justify;
}

.detail-frame-right {
  text-align: right;
}

.detail-frame > div > h1 {
  text-align: right;
}

.body-text {
  margin-bottom: 25px;
  margin-top: 15px;
}

.quote-author {
  text-align: right;
}

.text-list {
  margin-top: 55px;
  margin-bottom: 15px;
}

.detail-body > div > h1 {
  color: rgba(153,255,204,1);
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  text-align: center;
  padding-left: 0;
  margin-bottom: 3px;
  padding-top: 0;
}

.detail-body > div > div > h1 {
  color: #3a00f8;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  padding-left: 0;
  margin-bottom: 3px;
  padding-top: 0;
}

.sample-classification {
   color: #3a00f8;
   text-align: right;
 }
